.choice {
    padding-bottom: 143px;

    &__descr {
        margin-top: 17px;

        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: center;

        color: var(--text-color);
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 600px);
        column-gap: 78px;
    }
}