.promo {
    display: flex;
    justify-content: center;
    margin-top: 74px;
    &__buttons {
        display: flex;
        justify-content: center;

        margin-top: 30px;
    }

    &__img {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 36px;

        margin-top: 88px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            &:last-child {
                max-width: 806px;
            }
        }
    }

    &__advant {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        column-gap: 41px;

        margin-top: 148px;
        &-item {
            align-self: start;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-title {
            margin-top: 20px;
        }
        &-descr {
            margin-top: 10px;

            text-align: center;

            color: var(--text-color);
        }
    }
}