.reliability {
    padding-top: 143px;
    padding-bottom: 144px;
    &__title {
        position: relative;
        width: 263px;
        margin: 0 auto;
        &:before {
            content: url('../icons/reliability.svg');
            position: absolute;
            right: 0;
            top: -20px;
        }
    }
    &__descr {
        margin-top: 17px;
        padding: 0 10%;

        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: center;

        color: var(--text-color);
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        column-gap: 33px;

        margin-top: 28px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            margin-top: 19px;
        }
        &-descr {
            margin-top: 11px;
            text-align: center;
        }
    }
    &__block {
        grid-row: 2/3;
        grid-column: 1/4;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 40px;
        margin-top: 62px;

        height: 130px;

        background: #F6F8F9;
        border-radius: 5px;
        &-wrapper {
            display: flex;
            align-items: center;
        }
        &-logo {
            margin-right: 14px;
        }
    }

}